/* === GLOBAL === */
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('font/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('font/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('font/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html
{
	scroll-behavior: smooth;
	font-family: Georgia;
	font-size:16px;
}
body
{
	margin:auto;
	height:1000px;
}
h1, h2, h3, h4
{
	font-family: Montserrat;
	text-transform:uppercase;
}
.content /* everything between header and footer */
{
	min-height:80%;
	background:#ffffff;
	display:flex;
	flex-direction:column;
}
/* === HEADER CONTENT === */
.header_content
{
	width:100%;
	height:10%;
	background:#dcdcdc;
	border-bottom:2px solid black;
	box-shadow :inset 0px 0px 40px -10px rgba(130, 130, 130, 0.50);
	display:flex;
}
.logo_gbaf 
{
	height:90%;
	margin:auto;
	margin-left:5%;
}
.logo_gbaf img
{
	height:100%;
	width:auto;
}
.user_ref
{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	padding-right:1em;
}
.user_photo
{
	width:50px;
	height:50%;
	text-align:right;
	margin:auto;
}
.user_photo img
{
	height:100%;
	width:auto;
	border-radius:100%;
	box-shadow:1px 1px 5px 1px black;
	transition: .4s;
}
.user_photo img:hover
{
	transform:scale(1.05);
	transition: .4s;
}
.inscription_link
{
	display:flex;
	align-items:center;
	margin-right:5%;
}
.inscription_link a,.user_name a
{
	text-decoration:none;
	font-weight:bold;
	font-size:1em;
	color:#000;
	transition: .5s;
}
.inscription_link a:hover, .user_name a:hover 
{
	color: #195891;
	transition: .3s;
}
.header_content p
{
	display:inline-block;
	margin-right:1em;
	margin-left:1em; 
}
.deconnection_form input
{
	font-family: Georgia;
	font-size:1em;
	padding:0.5px;
	padding-right:1em;
	padding-left:1em;
	border:none;
	border-radius:8px;
	box-shadow:1px 1px 4px 0px #666;
	min-height:25px;
	transition: .5s;
}
.deconnection_form input:hover
{
	box-shadow:0px 0px 1px 0px #666, inset 1px 1px 4px #666;
}
/* === FOOTER CONTENT === */
.footer_content
{
	width:100%;
	height:10%;
	background:#dcdcdc;
	border-top:2px solid black;
	box-shadow :inset 0px 0px 40px -10px rgba(130, 130, 130, 0.50);
	display:flex;
}
.footer_content p
{
	margin:auto;
	color:black;
	font-size:1em;
}
.footer_content p a
{
	text-decoration:none;
	font-weight:bold;
	color:black;
	transition: .5s;
}
.footer_content p a:hover
{
	color:#195891;
	transition: .2s;
}
/* === ACCUEIL CONTENT + REINIT === */
.accueil_content form, .reinit_content form{

	width:66%;
	margin:auto;
	/*margin-top:10%;*/
}
.accueil_content fieldset, .reinit_content fieldset
{
	width:90%;
	height:90%;
	margin:auto;
	display:flex;
	padding-top:5%;
	padding-bottom:3%;
	flex-direction:column;
	border:none;
	border-radius:1em;
	box-shadow:0 0 10px black;
}
.accueil_content legend, .reinit_content legend
{
	margin:auto;
	font-size:2em;
	padding-left:2em;
	padding-right:2em;
	background:#FFF;
	box-shadow:0 0 2px black;
	text-align:center;
}
.accueil_content label, .accueil_content input,  .reinit_content label, .reinit_content input
{
	width:50%;
	margin:auto;
}
.accueil_content label, .reinit_content label
{
	width:90%;
	text-align:center;
	margin-bottom:0.8em;
}
.accueil_content input, .reinit_content input
{
	margin-top: .5em;
	margin-bottom:1em;
	height:2em;	
}
.accueil_content a 
{
	text-decoration:none;
	text-align:center;
	color:black;
	transition:.5s;
}
.accueil_content a:hover
{
	color:#195891;
	transition:.3s;
}
.connect_link
{
	display:flex;
	margin:auto;
	font-weight:bold;
}
.connect_link p
{
	margin:0;
	margin-left:1em;
	margin-right:1em;
}
.accueil_content .long_legend, .reinit_content .long_legend
{
	font-size:1.5em;
}
.accueil_content form p, .reinit_content form p
{
	text-align:center;
}
.accueil_content input[type="submit"], .reinit_content input[type="submit"]
{
	width:20%;
	height:3em;
	margin-top:3em;
	margin-bottom:3em;
	border-radius:2em;
	font-family: 'Georgia';
	font-size:16px;	
}
legend
{
	border-radius:1em;
}
.presentation_section
{
	background:#FFF;
	box-shadow: inset 0px 0px 10px -5px #A3A3A3;
	display:flex;
	flex-direction:column;
	padding:2% 5%;
}
.presentation_section h1
{
	margin-bottom:0;
	font-weight:bold;
}
.presentation_section p, .acteurs_txt > p
{
	text-align: justify;
    text-justify: inter-word;
	font-size:1.2em;
}
.acteurs_section
{
	background:#FFF;
	box-shadow: inset 0px 0px 10px -5px #A3A3A3;
	display:flex;
	padding: 2% 5%;
	flex-direction:column;
}
.acteurs_txt
{
	margin-bottom:1em;
}
.illustration
{
	margin-top:1em;
	margin-bottom:1em;
	height:250px;
	width:100%;
	background:#0ea8cc center no-repeat url(logos/illustration.jpg);
	box-shadow:0px 0px 7px 0px black;
	border-radius:1em;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}
.illustration_logos
{
	background:rgba(255,255,255,0.5);
	margin-bottom:8em;
	display:flex;
	justify-content:center;	
}
.illustration_logos a
{
	margin-right:auto;
	margin-left:auto;
	max-height: 60px;
	max-width: 12%;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	transition: 0.5s ease-in-out;
}
.illustration_logos a img
{
	margin:auto;
	max-width:90%;
	max-height: 95%;
}
.acteurs
{
	margin:auto;
	margin-bottom:2em;
	padding:0;
	width:100%;
	border: 1px solid black;
	border-radius:.5em;
	/*box-shadow:0 0 10px black;*/
	background:#fffff;
	display:flex;
	flex-direction:column;
}
.acteurs_logo_desc
{
	display:flex;
}
.acteurs_logo
{
	max-width:33%;
	height:auto;
	margin:1% 2% 1% 1%;
}
.acteurs_logo img
{
	width:100%;
	border-radius:2em;
	box-shadow:0 0 10px black;
}
.acteurs_description
{
	margin-top:1%;
}
.acteurs_description p
{
	margin-right:10%;
	text-align:justify;
	font-size:1.1em;
}
.acteurs h3
{
	margin-top:0;
}
.acteurs_linkweb
{
	text-decoration:none;
	color:black;
	font-weight:bold;
	transition: .5s;
}
.acteurs_linkweb:hover
{
	color:#195891;
	transition: .3s;
}
.acteurs_suite
{
	text-align:center;
	align-self:flex-end;
	color:black;
	font-size:1.1em;
	margin-bottom:1%;
	margin-right:1%;
	padding:0.5em;
	padding-right:1em; 
	padding-left:1em;
	border-radius:.5em;
	background:rgb(250,250,250,0.7);
	box-shadow:1px 1px 4px 1px grey;
	transition:box-shadow .2s ease-in-out, background .5s ease-in-out;
}
.acteurs_suite:hover
{
	box-shadow: 0px 0px 2px 0px grey, inset 1px 1px 3px 0px grey;
	background:rgb(255,255,255,0.9);
	transition:box-shadow .2s ease-in-out, background .5s ease-in-out;
}

/* === INSCRIPTION CONTENT === */
.inscription_content form
{
	width:66%;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
}
.inscription_content fieldset
{
	width:90%;
	height:90%;
	margin:auto;
	display:flex;
	padding-top:5%;
	padding-bottom:5%;
	flex-direction:column;
	border:none;
	border-radius:1em;
	box-shadow:0 0 10px black;
}
.inscription_content legend
{
	margin:auto;
	font-size:2em;
	padding-left:2em;
	padding-right:2em;
	background:#FFF;
	box-shadow:0 0 2px black;
}
/*legend
{
	border-radius:1em;
}*/
.inscription_content label
{
	width:70%;
	margin:auto;
}
.inscription_content input
{
	width:50%;
	margin:auto;
}
.inscription_content input
{
	margin-bottom:1em;
	height:2em;
}
.inscription_content label
{
	text-align:center;
	margin-bottom:0.8em;
}
.inscription_content input[type="submit"]
{
	width:20%;
	height:3em;
	margin-top:3em;
	border-radius: 2em;
	font-family: 'Georgia';
	font-size: 16px;
}
.inscription_content p
{
	text-align:center;
	margin-top:-0.5em;
}
label .lower_italic
{
	font-size:0.8em;
	font-style:italic;
}
input::placeholder
{
	font-style:italic;	
}